
@import '../../../../consts/theme.scss';

.about_component{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;

    .about_comp_img{
        width: 40%;
        height: 80%;
        border-radius: 300px;
        border: 4px solid $PrimaryColor;
        box-sizing: border-box;
        padding: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid $PrimaryColor;
        }
    }
    .about_comp_desctiption{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        label, h4, p {
            padding: 0;
            margin: 0;
        }
        label {
            font-size: 17px;
            display: flex;
            gap: 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            p {
                font-size: 17px;
                color: $PrimaryColor;
                font-weight: 500;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
        h4{
            font-size: 25px;
            width: 50%;
            font-weight: 700;
            color: #111;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        p {
            font-size: 15px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 80%;
            color: #999;
        }
    }
}