
@import '../../../../consts/theme.scss';

.header_nav{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFF;
    z-index: 100;
    .logo{
        font-size: 25px;
        font-weight: 200;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
    }
    .header_routes{
        width: auto;
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        .header_link{
            color: $PrimaryTextColor;
            font-size: 17px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 5px;
            .notifier_route{
                width: 5px;
                height: 5px;
                border-radius: 5px;
                display: inline-block;
                border: $PrimaryColor 2px solid;
                box-sizing: border-box;
                transition: border 1s;
            }
            .active_route{
                width: 5px;
                height: 5px;
                border-radius: 5px;
                display: inline-block;
                border: white 1px solid;
                box-sizing: border-box;
            }
            .icon_bag{
                // background-color: red;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .item_coint{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: black;
                    width: 15px;
                    height: 15px;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    font-weight: 600;
                }
            }
        }
    }
    .progress-bar{
        position: fixed;
        top: 70px;
        height: 3px;
        background-color: $PrimaryColor;
        left: 0;
        right: 0;
    }
}